* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 10px;
  transition: all 0.5s cubic-bezier(0, 0.84, 0.23, 1);
  color: white;
  cursor: default;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

::selection {
  background: transparent;
}

:fullscreen {
  #buttons {
    width: 3rem;
  }

  #lightDarkButton {
    display: none;
  }

  #settingsButton {
    display: none;
  }

  #nextThemeButton {
    display: none;
  }

  #fullscreenButton {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

#rim {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5rem #000000 inset;
}

#background {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#buttons {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  height: 3rem;
  width: 18rem;
  justify-content: center;
  align-items: center;
}

#fullscreenButton {
  &:hover {
    transform: rotateZ(-90deg);
  }
}

.fullscreenOn {
  mask: url(../icons/fullscreenExit.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
}

.fullscreenOff {
  mask: url(../icons/fullscreenEnter.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
}

#settingsButton {
  mask: url(../icons/settings.svg);
  mask-size: cover;
  mask-repeat: no-repeat;

  &:hover {
    transform: rotateZ(45deg);
  }
}

#lightDarkButton {
  &:hover {
    transform: rotateZ(360deg);
  }
}

.lightButton {
  mask: url(../icons/sun.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
}

.darkButton {
  mask: url(../icons/moon.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
}

#nextThemeButton {
  mask: url(../icons/arrowRight.svg);
  mask-size: cover;
  mask-repeat: no-repeat;

  &:hover {
    transform: translateX(0.5rem);
  }
}

#closeButton {
  mask: url(../icons/closeIcon.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
}

.buttonImg {
  height: 3rem;
  width: 3rem;
  background: white;
  box-shadow: 0rem 0rem 2rem #ffffff;

  &:hover {
    transform: scale(1.08);
  }
}

#timeText {
  font-size: 12vw;
}

.backgroundLightTheme1 {
  background: linear-gradient(-45deg, rgb(231, 64, 64) 0%, #0000 100%),
    linear-gradient(45deg, #2cbcff, transparent),
    linear-gradient(220deg, #85ff55, transparent);
}

.backgroundLightTheme2 {
  background: linear-gradient(270deg, rgb(231, 159, 64), transparent),
    linear-gradient(45deg, #aa224b, transparent),
    linear-gradient(135deg, #f9c107, transparent);
}

.backgroundLightTheme3 {
  background: linear-gradient(-90deg, rgb(130, 56, 199), transparent),
    linear-gradient(-90deg, transparent, rgb(177, 43, 137)), green;
}

.backgroundLightTheme4 {
  background: linear-gradient(to top right, rgb(49, 132, 216), transparent),
    linear-gradient(to top right, transparent, rgb(224, 60, 167));
}

.backgroundDarkTheme1 {
  background: radial-gradient(circle at 50% 50%, #2b2b2b, #1b1b1b);
}

.backgroundDarkTheme2 {
  background: linear-gradient(to top left, transparent 0%, rgb(0, 0, 0) 100%),
    linear-gradient(to top right, transparent, rgb(24, 27, 32)),
    linear-gradient(to bottom left, transparent, rgb(15, 15, 15)),
    linear-gradient(to bottom right, transparent, rgb(70, 70, 70));
}

.backgroundDarkTheme3 {
  background: radial-gradient(circle at 50% 50%, black, #000001);
}

.backgroundDarkTheme4 {
  background: radial-gradient(circle at 50% 50%, rgb(21, 23, 24), rgb(5, 5, 5));
}

.textTheme1 {
  color: white;
  text-shadow: 0 0 2rem white;
  font-family: "Delius Swash Caps", sans-serif;
}

.textTheme2 {
  color: white;
  font-family: "Lexend", sans-serif;
  font-weight: 900;
  letter-spacing: 1rem;
}

.textTheme3 {
  font-family: "Doto", monospace;
  font-weight: 900;
}

.textTheme4 {
  font-family: "Jost", sans-serif;
  font-weight: 200;
}

.textTheme5 {
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: #ffffff50;
}

.textTheme6 {
  font-family: "Jost", sans-serif;
  font-weight: 900;
  letter-spacing: 4rem;
  text-shadow: 0 0 20rem #00000050, 0.5rem 0.5rem #ffffff90, 1rem 1rem #ffffff70,
    1.5rem 1.5rem #ffffff50, 2rem 2rem #ffffff30, 2.5rem 2.5rem #ffffff10;
}

.textTheme7 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.settingsBar {
  z-index: 2;
  position: absolute;
  right: 2rem;
  width: max;
  background: #acacac40;
  backdrop-filter: blur(1.5rem);
  height: max;
  top: 2rem;
  bottom: 2rem;
  left: 2rem;
  border-radius: 3rem;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.settingsBar::-webkit-scrollbar {
  display: none;
}

.settingsBarOut {
  opacity: 1 !important;
  pointer-events: all !important;
}

#settingsInner {
  margin: 2rem;
  height: max-content;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
}

#basicSettingsContainer {
  display: flex;
  flex-flow: column nowrap;
  height: 20vh;
  gap: 3rem;
}

.settingBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}

.toggleContainer {
  display: flex;
  align-items: center;
}

.toggle {
  height: 3rem;
  width: 6rem;
  border-radius: 100vh;
  border: 0.1rem solid #ffffff;
  background: #ffffff40;
  display: flex;
  flex-flow: row nowrap;

  &:hover {
    .toggleNobOff {
      box-shadow: 0 0 0 0.1rem #ffffff inset, 0 0 1rem white,
        0 0 1rem white inset;
    }

    .toggleNobOn {
      box-shadow: 0 0 1rem white;
    }
  }
}

.toggleNobOff {
  height: 3rem;
  width: 3rem;
  border-radius: 100vh;
  background: transparent;
  pointer-events: none;
  box-shadow: 0 0 0 0.1rem #ffffff inset;
}

.toggleNobOn {
  height: 3rem;
  width: 3rem;
  margin-left: 3rem;
  border-radius: 100vh;
  background: #ffffff;
  pointer-events: none;
}

.settingsTextBox {
  display: flex;
  align-items: center;
}

#secondsText {
  font-size: 4.2rem;
  letter-spacing: normal !important;
  text-shadow: none !important;
  text-decoration: none !important;
}

#formatText {
  font-size: 4.2rem;
  letter-spacing: normal !important;
  text-shadow: none !important;
  text-decoration: none !important;
}

#themeSelectorText {
  font-size: 4.2rem;
  letter-spacing: normal !important;
  text-shadow: none !important;
  text-decoration: none !important;
}

#textThemeSelectorText {
  font-size: 4.2rem;
  letter-spacing: normal !important;
  text-shadow: none !important;
  text-decoration: none !important;
}

#customThemeSettings {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  height: 60vh;
  gap: 2rem;
}

.themeContainer {
  height: max;
  width: max;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.themeContainer > * {
  border-radius: 1.5rem;

  &:hover {
    transform: scale(1.03);
  }
}

.textThemeContainer {
  height: max;
  width: max;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.textThemeContainer > * {
  font-size: 4.2rem;
  text-align: center;
  padding: 2rem;

  &:hover {
    transform: scale(1.05);
  }
}

hr {
  border: 0.2rem solid white;
  border-radius: 100rem;
  margin: 2rem 0;
}
