// Style variables
$uiBackground: #b4b4b438;
$textColor: #f7f7f7;
$titleSize: 4.2rem;

* {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  transition: all 0.5s cubic-bezier(0, 0.84, 0.23, 1);
  color: white;
  cursor: default;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

::selection {
  background: transparent;
}

:fullscreen {
  #buttons {
    width: 3rem;
  }

  #lightDarkButton {
    display: none;
  }

  #settingsButton {
    display: none;
  }

  #nextThemeButton {
    display: none;
  }

  #fullscreenButton {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
  .tooltip {
    display: none !important;
  }
}

#rim {
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4rem #000000 inset, 0 0 0 10rem #000000;
  border-radius: 4.5rem;
}

#background {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#buttons {
  z-index: 1001;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  height: 3rem;
  width: 19rem;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

#fullscreenButton {
  &:hover {
    transform: rotateZ(-90deg);
  }
}

.fullscreenOn {
  mask: url(../icons/fullscreenExit.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
  overflow: visible;
}

.fullscreenOff {
  mask: url(../icons/fullscreenEnter.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
  overflow: visible;
}

#settingsButton {
  mask: url(../icons/settings.svg);
  mask-size: cover;
  mask-repeat: no-repeat;

  &:hover {
    transform: rotateZ(45deg);
  }
}

#lightDarkButton {
  &:hover {
    transform: rotateZ(360deg);
  }
}

.lightButton {
  mask: url(../icons/sun.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
}

.darkButton {
  mask: url(../icons/moon.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
}

#nextThemeButton {
  mask: url(../icons/arrowRight.svg);
  mask-size: cover;
  mask-repeat: no-repeat;

  &:hover {
    transform: translateX(0.5rem);
  }
}

#closeButton {
  mask: url(../icons/closeIcon.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
  position: absolute;
  right: 4.5rem;
  top: 4.5rem;
}

.buttonImg {
  height: 3rem;
  width: 3rem;
  background: white;
}

.tooltipOn {
  opacity: 1 !important;
}

.tooltipOff {
  display: flex;
  opacity: 0;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-wrap-mode: nowrap;
  position: absolute;
  background: #0f0f0f50;
  backdrop-filter: blur(1.5rem);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  z-index: 2003;
  height: 2.4rem;
  font-family: "Lexend", sans-serif;
  bottom: 0;
  right: 21rem;
}

#timeText {
  font-size: 13vw;
}

.backgroundLightTheme1 {
  background: linear-gradient(to top left, rgb(233, 70, 70) 0%, #0000 100%),
    linear-gradient(to top right, #008cff, transparent),
    linear-gradient(to bottom left, #eafa11, transparent);
}

.backgroundLightTheme2 {
  background: linear-gradient(to bottom left, rgb(240, 143, 17), transparent),
    linear-gradient(to top right, #c9254e, transparent),
    linear-gradient(to bottom right, #f164e6, transparent),
    linear-gradient(to top left, #52ff02, transparent);
}

.backgroundLightTheme3 {
  background: linear-gradient(-90deg, rgb(130, 56, 199), transparent),
    linear-gradient(-90deg, transparent, rgb(177, 43, 137)), green;
}

.backgroundLightTheme4 {
  background: linear-gradient(to top right, rgb(49, 132, 216), transparent),
    linear-gradient(to top right, transparent, rgb(224, 60, 167));
}

.backgroundLightTheme5 {
  background: linear-gradient(to top right, rgb(55, 211, 68), rgb(38, 68, 204));
  overflow: hidden;

  &::after {
    content: "";
    pointer-events: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(
      to top left,
      rgb(226, 223, 60),
      transparent,
      rgb(111, 98, 233)
    );
  }
}

.backgroundLightTheme6 {
  background: radial-gradient(
      circle at 0% 0%,
      #b61b1b,
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 0% 50%,
      rgb(45, 139, 247),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 0% 100%,
      rgb(138, 40, 250),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 25% 0%,
      rgb(51, 243, 250),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 25% 50%,
      rgb(247, 198, 38),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 25% 100%,
      rgb(26, 70, 192),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 50% 0%,
      rgb(243, 61, 115),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 50% 50%,
      rgb(240, 151, 79),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      rgb(131, 170, 150),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 75% 0%,
      rgb(210, 27, 235),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 75% 100%,
      rgb(45, 223, 113),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 100% 0%,
      rgb(182, 27, 27),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      rgb(235, 76, 3),
      transparent,
      transparent
    ),
    radial-gradient(
      circle at 100% 100%,
      rgb(24, 245, 179),
      transparent,
      transparent
    );
}

.backgroundLightTheme7 {
  background: linear-gradient(
    to top right,
    rgb(255, 255, 255),
    rgb(254, 255, 255)
  );
}

.backgroundLightTheme8 {
  background: linear-gradient(to top right, rgb(240, 228, 196), rgb(180, 99, 99));
}

.backgroundLightTheme9 {
  background: linear-gradient(to top right, #e83434, transparent),
      linear-gradient(to top left, #e2c441, transparent),
      linear-gradient(to bottom right, #0d2ee8, transparent),
      linear-gradient(to bottom left, #8a38f5, transparent);
}

.backgroundLightTheme10 {
  background: radial-gradient(circle at 100% 0%, rgb(0, 255, 145), transparent, transparent),
      radial-gradient(circle at 0% 100%, rgb(255, 242, 0), transparent, transparent),
      radial-gradient(circle at 0% 0%, rgb(248, 4, 4), transparent),
      radial-gradient(circle at 100% 100%, rgb(28, 61, 247), transparent);
}

.backgroundLightTheme11 {
  background: linear-gradient(to top right, rgb(234, 240, 189), rgb(229, 75, 134));
}

.backgroundLightTheme12 {
  background: linear-gradient(to bottom left, rgb(224, 116, 39), transparent, transparent),
      linear-gradient(to top left, rgb(223, 45, 104), transparent),
      linear-gradient(to right, rgb(25, 137, 235), transparent);
}

.backgroundDarkTheme1 {
  background: radial-gradient(circle at 50% 50%, #2b2b2b, #1b1b1b);
}

.backgroundDarkTheme2 {
  background: linear-gradient(to top left, transparent 0%, rgb(0, 0, 0) 100%),
    linear-gradient(to top right, transparent, rgb(24, 27, 32)),
    linear-gradient(to bottom left, transparent, rgb(15, 15, 15)),
    linear-gradient(to bottom right, transparent, rgb(70, 70, 70));
}

.backgroundDarkTheme3 {
  background: radial-gradient(circle at 50% 50%, black, #000001);
}

.backgroundDarkTheme4 {
  background: radial-gradient(circle at 50% 50%, rgb(21, 23, 24), rgb(5, 5, 5));
}

.backgroundDarkTheme5 {
  background: radial-gradient(
    circle at 100% 100%,
    rgb(9, 1, 36),
    rgb(47, 53, 80)
  );
}

.backgroundDarkTheme6 {
  background: linear-gradient(to top right, rgb(33, 48, 25), rgb(5, 15, 0));
}

.backgroundDarkTheme7 {
  background: radial-gradient(circle at 0% 0%, rgb(41, 3, 42), rgb(15, 58, 87))
}

.backgroundDarkTheme8 {
  background: linear-gradient(to top right, #130101, #460a1a);
}

.backgroundDarkTheme9 {
  background: linear-gradient(to bottom right, #1f1602, #5b4006);
}

.backgroundDarkTheme10 {
  background: linear-gradient(to top left, #040d00, #194b2d);
}

.backgroundDarkTheme11 {
  background: linear-gradient(to bottom left, #120106, #46250e);
}

.backgroundDarkTheme12 {
  background: linear-gradient(to right, #494838, #292828);
}

.textTheme1 {
  color: white;
  text-shadow: 0 0 2rem white;
  font-family: "Delius Swash Caps", sans-serif;
}

.textTheme2 {
  color: white;
  font-family: "Lexend", sans-serif;
  font-weight: 900;
  letter-spacing: 1rem;
}

.textTheme3 {
  font-family: "Doto", monospace;
  font-weight: 900;
}

.textTheme4 {
  font-family: "Jost", sans-serif;
  font-weight: 200;
}

.textTheme5 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}

.textTheme6 {
  font-family: "Jost", sans-serif;
  font-weight: 900;
  letter-spacing: 4rem;
  text-shadow: 0 0 20rem #00000050, 0.5rem 0.5rem #ffffff90, 1rem 1rem #ffffff70,
    1.5rem 1.5rem #ffffff50, 2rem 2rem #ffffff30, 2.5rem 2.5rem #ffffff10;
}

.textTheme7 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.textTheme8 {
  font-family: "Bodoni Moda", serif;
  font-weight: 800;
  letter-spacing: 0.5rem;
}

.textTheme9 {
  font-family: "Monoton", sans-serif;
}

.textTheme10 {
  font-family: "Dela Gothic One", sans-serif;
}

.textTheme11 {
  font-family: "Tsukimi Rounded", sans-serif;
}

.textTheme12 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.textTheme13 {
  font-family: "Pilowlava Regular";
}

.settingsBar {
  z-index: 1002;
  position: absolute;
  right: 3rem;
  background: $uiBackground;
  backdrop-filter: blur(1.5rem);
  top: 3rem;
  bottom: 3rem;
  left: 3rem;
  border-radius: 1.5rem;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.settingsBar::-webkit-scrollbar {
  display: none;
}

.settingsBarOut {
  opacity: 1 !important;
  pointer-events: all !important;
}

#settingsInner {
  margin: 6rem;
  height: max-content;
  display: flex;
  flex-flow: column nowrap;
  gap: 5rem;
}

#basicSettingsContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.settingBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}

.toggleContainer {
  display: flex;
  align-items: center;
}

.toggle {
  height: 3rem;
  width: 6rem;
  border-radius: 100vh;
  border: 0.1rem solid #ffffff;
  background: #ffffff40;
  display: flex;
  flex-flow: row nowrap;

  &:hover {
    .toggleNobOff {
      box-shadow: 0 0 0 0.1rem #ffffff inset, 0 0 1rem white,
        0 0 1rem white inset;
    }

    .toggleNobOn {
      box-shadow: 0 0 1rem white;
    }
  }
}

.toggleNobOff {
  height: 3rem;
  width: 3rem;
  border-radius: 100vh;
  background: transparent;
  pointer-events: none;
  box-shadow: 0 0 0 0.1rem #ffffff inset;
}

.toggleNobOn {
  height: 3rem;
  width: 3rem;
  margin-left: 3rem;
  border-radius: 100vh;
  background: #ffffff;
  pointer-events: none;
}

.settingsTextBox {
  display: flex;
  align-items: center;
}

#secondsText {
  font-size: $titleSize;
  letter-spacing: normal !important;
  text-shadow: none !important;
  text-decoration: none !important;
  #textTheme5 {
    -webkit-text-stroke-width: 0.2rem;
  }
}

#formatText {
  font-size: $titleSize;
  letter-spacing: normal !important;
  text-shadow: none !important;
  text-decoration: none !important;
  #textTheme5 {
    -webkit-text-stroke-width: 0.2rem;
  }
}

#themeSelectorText {
  font-size: $titleSize;
  letter-spacing: normal !important;
  text-shadow: none !important;
  text-decoration: none !important;
  #textTheme5 {
    -webkit-text-stroke-width: 0.2rem;
  }
}

#textThemeSelectorText {
  font-size: $titleSize;
  letter-spacing: normal !important;
  text-shadow: none !important;
  text-decoration: none !important;

  #textTheme5 {
    -webkit-text-stroke-width: 0.2rem;
  }
}

#customThemeSettings {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 10fr;
  gap: 2rem;
}

.themeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
  min-height: 40vh;
}

.themeContainer > * {
  border-radius: 1.5rem;
  overflow: hidden;
  min-height: 10rem;

  &::after {
    border-radius: 1.5rem;
    z-index: 1004;
    position: absolute;
    overflow: hidden;

    &:hover {
      transform: scale(1.02);
    }
  }

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

#backgroundOption5 {
  overflow: hidden;

  &::after {
    display: none;
  }
}

.textThemeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.textThemeContainer > * {
  font-size: 4.2rem;
  text-align: center;
  padding: 2rem;

  &:hover {
    transform: scale(1.05);
  }
}

#textThemeOption6 {
  letter-spacing: 0.5rem;
}
